* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body,
html {
    font-size: 20px;
    max-width: 100%;
    min-height: 100%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.Content{
	min-height: 600px;
	height: 650;
}

.Particlebg {
    position: absolute;
    height: auto;
    overflow: hidden;
    position: inherit;
    background: linear-gradient(180deg, snow, #CBA1FF, #9A6ECD, #310063);
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.NavMobile {
    bottom: 0;
    min-width: 100%;
    position: fixed;
    display: absolute;
    align-items: center;
    background-color: snow;
}

.NavMobile a {
    font-size: 10px;
    color: indigo;
    text-align: center;
}

.NavMobile li {
	padding: 15px;
	margin-left: auto;
	display: inline-block;
}

li,
a,
button {
    color: white;
    border-color: indigo;
    color: indigo;
    font-size: 20px;
    text-decoration: none;
}

.navLinks {
    list-style: none;
}

.navLinks li {
	padding: 15px;
	display: inline-block;
    border-bottom: solid 0px indigo;
}

.navLinks li a {
    transition: all .3s ease 0s;
}

.navLinks li :hover {
    border-bottom: solid 6px indigo;
    transition: all .3s ease 0s;
}

a > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Logo {
    width: 150px;
    height: 75px;
    padding-left: 15px;
    margin-right: auto;
}

.ContentSlider1 {
    text-align: center;
    margin: 15px;
    height: 500px;
    padding: 35px;
    border-radius: 15%;
    background-color: rgba(0, 0, 0, 0.15);
}

.ContentSlider2 {
    margin: 15px;
    height: 500px;
    padding: 35px;
    border-radius: 15%;
    background-color: rgba(0, 0, 0, 0.15);
}

.ContentSlider3 {
    opacity: 100%;
    margin: 15px;
    height: 500px;
    padding: 35px;
    border-radius: 15%;
    background-color: rgba(0, 0, 0, 0.15);
}

.slider {
    border-radius: 25px;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.slider ul {
    display: flex;
    padding: 0%;
    width: 400%;
    animation: cambio 15s infinite alternate linear;
}

.slider li {
    width: 100%;
    list-style: none;
}

.slider img {
    height: 300px;
    width: 100%;
}

@keyframes cambio {
    20% {
        margin-left: 0;
    }
    25% {
        margin-left: -100%;
    }
    45% {
        margin-left: -100%;
    }
    50% {
        margin-left: -200%;
    }
    70% {
        margin-left: -200%;
    }
    75% {
        margin-left: -300%;
    }
    100% {
        margin-left: -300%;
    }
}

.button {
    background-color: white;
    border: solid;
    border-color: indigo;
    border-width: 1px;
    color: indigo;
    border-radius: 20px;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font: bold;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.button2 {
    font-weight: bold;
    background-color: white;
    border-color: indigo;
    color: indigo;
}

.button2:hover {
    font-weight: bold;
    background-color: indigo;
    border-color: white;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}