* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.Content {
    padding-left: 10%;
    padding-right: 10%;
}

body,
html {
    font-size: 20px;
    max-width: 100%;
    min-height: 100%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.Particlebg {
    position: relative;
    height: auto;
    overflow: hidden;
    position: inherit;
    background: linear-gradient(180deg, snow, purple, indigo);
}

nav {
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 150px;
    background-color: snow;
}

.brand {
    margin: 0;
    padding: 0;
}

.brand img {
    width: 250px;
    height: 125px;
}

.navElements a {
    top: 0px;
    width: 75px;
    height: 50px;
    float: right;
    color: indigo;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    background-color: snow;
    border: solid 2px indigo;
    transition: .5s;
}

.navElements a :hover {
    color: snow;
    background-color: indigo;
}

.ContentSlider1 {
    opacity: 100%;
    position: absolute;
    margin: 15px;
    height: 500px;
    padding: 35px;
    border-radius: 15%;
    background-color: rgba(0, 0, 0, 0.1);
}

.ContentSlider2 {
    opacity: 100%;
    left: 45%;
    position: absolute;
    margin: 15px;
    height: 500px;
    padding: 35px;
    border-radius: 15%;
    background-color: rgba(0, 0, 0, 0.1);
}

.ContentSlider3 {
    opacity: 100%;
    position: absolute;
    left: 72%;
    margin: 15px;
    height: 500px;
    padding: 35px;
    border-radius: 15%;
    background-color: rgba(0, 0, 0, 0.1);
}